{
    "parser": "babel-eslint",
    "extends": ["standard", "standard-react"],
    "rules": {
        "max-len": [2, 80, 4],
        "jsx-quotes": ["error", "prefer-double"],
        "padded-blocks": 0,
        "import/first": 0,
        "no-return-assign": 0
    },
    "globals": {
        "expect": true,
        "jest": true,
        "jasmine": true,
        "it": true,
        "beforeEach": true,
        "afterEach": true,
        "describe": true
    }
}
