<meta charset="utf-8"><meta>
<meta name="description" content="Make video calls to anybody in the world with a private connection. Share the conversation by sharing url."><meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"><meta>
<meta name="mobile-web-app-capable" content="yes"><meta>
<meta name="apple-mobile-web-app-capable" content="yes"><meta>
<link rel="apple-touch-icon" href="<%= baseUrl + '/res/icon.png' %>"><link>
<link rel="icon" sizes="256x256" href="<%= baseUrl + '/res/icon.png' %>"><link>
<link rel="stylesheet" type="text/css" href="<%= baseUrl + '/static/style.css' %>"><link>
