<!DOCTYPE html>
<html>
<head>
  <title>Peer Call</title>
  <%- include('./_header.html') %>
</head>
<body class="call">
  <input type="hidden" id="baseUrl" value="<%= baseUrl %>">
  <input type="hidden" id="callId" value="<%= callId %>">
  <input type="hidden" id="iceServers" value='<%- JSON.stringify(iceServers) %>'>
  <input type="hidden" id="userId" value="<%= userId %>">
  <input type="hidden" id="nickname" value="<%= nickname %>">
  <div id="container"></div>

  <script src="<%= baseUrl + '/static/index.js' %>"></script>
</body>
</html>
