<!DOCTYPE html>
<html>
<head>
  <title>Peer Calls - Video calls to anybody in the world with a private direct connection</title>
  <%- include('./_header.html') %>
</head>
<body>
  <a id="github-ribbon" href="https://github.com/jeremija/peer-calls" target="_blank">
    <img src="<%= baseUrl + '/res/fork.png' %>" alt="Fork me on GitHub">
  </a>

  <div id="container">
    <form id="form" method="post" action="<%= baseUrl + '/call' %>" autocomplete="off">
      <h1>
        <img src="<%= baseUrl + '/res/peer-calls.svg' %>" width="100%" alt="Peer Calls">
      </h1>
      <p>Group peer-to-peer calls for everyone. Create a private room. Share the link.</p>
      <input type="text" value="" name="call" placeholder="Room ID (Leave empty for random)" autofocus>
      <input type="submit" value="Start Session">
    </form>
  </div>

  <footer>
    <div>v<%= version %></div>
  </footer>
</body>
