@import "fonts.less";

@color-bg: #086788;
@color-fg: #07A0C3;
// @color-btn: #F0C808;
@color-btn: #FFF1D0;
@color-active: #F0C808;
@icon-size: 48px;

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: @color-bg;
  color: @color-fg;
  margin: 0 0;
  font-family: sans-serif;
}

#container {
  width: 100%;
  height: 100%;
}

#form {
  padding-top: 3em;
  text-align: center;
  width: 300px;
  margin: 0 auto;

  h1 {
    margin: 0;
  }

  img {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 2em;
  }

  input {
    width: 100%;
    border: 1px solid @color-fg;
    background-color: @color-bg;
    border-radius: 5px;
    padding: 1em 2em;
    margin-bottom: 1em;
    color: @color-active;
  }

  input:active,
  input:focus {
    border: 1px solid @color-active;
    outline: none;
  }

  input[type="submit"] {
    cursor: pointer;
  }

  ::-webkit-input-placeholder {
    color: @color-fg;
    text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: @color-fg;
    text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: @color-fg;
    text-align: center;
  }

  :-ms-input-placeholder {
    color: @color-fg;
    text-align: center;
  }
}

.app {
  width: 100%;
  height: 100%;
  position: relative;

  .videos {
    position: absolute;
    height: 100px;
    bottom: 15px;
    right: 0px;
    text-align: right;

    .video-container {
      background-color: black;
      box-shadow: 0px 0px 5px #333;
      border-radius: 30px;
      display: inline-block;
      margin-right: 10px;
      width: 150px;
      height: 100%;
      z-index: 2;

      video {
        border-radius: 30px;
        pointer: cursor;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .video-container.active {
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;

      video {
        border-radius: 0;
        pointer: inherit;
      }
    }
  }
}
