@import "fonts.less";

@font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

@color-bg: #086788;
@color-fg: #07A0C3;
// @color-btn: #F0C808;
@color-btn: #FFF1D0;
@color-active: #F0C808;
@icon-size: 48px;

@color-info: white;
@color-warning: @color-active;
@color-error: #FF4400;

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  z-index: -99;
}

body {
  background-color: @color-bg;
  color: @color-fg;
  margin: 0 0;
  font-family: @font-sans-serif;
}

body.call {
  background-image: url('/res/peer-calls.svg');
  background-size: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#form {
  padding-top: 3em;
  text-align: center;
  width: 300px;
  margin: 0 auto;

  h1 {
    margin: 0;
  }

  img {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 2em;
  }

  input {
    width: 100%;
    border: 1px solid @color-fg;
    background-color: @color-bg;
    border-radius: 5px;
    padding: 1em 2em;
    margin-bottom: 1em;
    color: @color-active;
  }

  input:active,
  input:focus {
    border: 1px solid @color-active;
    outline: none;
  }

  input[type="submit"] {
    cursor: pointer;
  }

  ::-webkit-input-placeholder {
    color: @color-fg;
    text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: @color-fg;
    text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: @color-fg;
    text-align: center;
  }

  :-ms-input-placeholder {
    color: @color-fg;
    text-align: center;
  }
}

.warning {
  color: @color-warning;
}

.error {
  color: @color-error;
}

.info {
  color: @color-info;
}

.app {

  .alert {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    transition: visibility 100ms ease-in, opacity 100ms ease-in;
    z-index: 4;

    span {
      display: inline-block;
      margin: 1rem 0;
      padding: 0 1rem;
    }

    button {
      line-height: 1.4rem;
      border: none;
      border-radius: 0.3rem;
      color: @color-info;
      background-color: @color-fg;
      vertical-align: middle;
    }
  }

  .alert.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .notifications {
    font-family: @font-monospace;
    font-size: 10px;
    left: 1rem;
    position: fixed;
    right: 1rem;
    text-align: right;
    top: 1rem;
    z-index: 3;

    .notification {
      color: @color-info;
      text-shadow: 0 0 0.1rem @color-info;
    }

    .notification.error {
      color: @color-error;
      text-shadow: 0 0 0.1rem @color-error;
    }

    .notification.warning {
      color: @color-warning;
      text-shadow: 0 0 0.1rem @color-warning;
    }

  }

  .videos {
    position: fixed;
    height: 100px;
    bottom: 15px;
    right: 0px;
    text-align: right;

    .video-container {
      background-color: black;
      box-shadow: 0px 0px 5px black;
      border-radius: 50px;
      display: inline-block;
      margin-right: 10px;
      width: 100px;
      height: 100%;
      z-index: 2;

      video {
        border-radius: 50px;
        cursor: pointer;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .video-container.active {
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;

      video {
        border-radius: 0;
        cursor: inherit;
      }
    }
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

