doctype html
html
  head
    title Remote Control
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="apple-touch-icon" href="res/icon.png")
    link(rel="icon" sizes="256x256" href="res/icon.png")
  link(rel="stylesheet" type="text/css" href="less/main.css")

  body

    div#container

    script(src='js/index.js')
