.alert {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition: visibility 100ms ease-in, opacity 100ms ease-in;
  z-index: 4;
  pointer-events: none;

  span {
    display: inline-block;
    margin: 1rem 0;
    padding: 0 1rem;
  }

  button {
    line-height: 1.4rem;
    border: none;
    border-radius: 0.3rem;
    color: $color-info;
    background-color: $color-fg;
    vertical-align: middle;
  }
}

.alert.hidden {
  opacity: 0;
  visibility: hidden;
}
