.media-container form.media {
  margin: 4rem auto 0;
  max-width: 450px;
  text-align: center;

  & > * {
    & + * {
      margin-top: 1rem;
    }
    @media(max-width: 650px) {
      display: block;
      width: 100%;
    }
    @media(min-width: 651px) {
      & + * {
        margin-left: 1rem;
      }
    }

  }

  select {
    padding: 15px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    border: none;
    border-radius: 4px;
    border-bottom: 2px solid darken(#fff, 10%);
    text-align: center;
    color: black;
    background-color: white;
    cursor: pointer;
    &:hover {
      background-color: darken(white, 5%);
    }
    &:active {
      background-color: darken(white, 10%);
    }
  }

  select, button {
    font-size: 1.2rem;
  }

  button {
    @include button($color-primary, $color-warning);
    padding: 1rem;
  }
}
