.notifications {
  pointer-events: none;
  font-family: $font-monospace;
  font-size: 10px;
  text-align: right;
  width: 100%;
  padding: 1rem;
  height: 100px;

  .notification {
    color: $color-info;
    text-shadow: 0px 0px 3px black;
    padding: 0.25rem;
  }

  .notification.error {
    color: $color-error;
  }

  .notification.warning {
    color: $color-warning;
  }
}
