.toolbar {
  margin: 0 0 1rem 1rem;
  /* on icons are hidden by default */

  .icon {
    &.on {
      display: none;
    }
    &.off {
      display: block;
    }
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  /* off icons are displayed by default */

  /* on icons are displayed when parent svg has class 'on' */

  .button {
    &.on .icon {
      &.on {
        display: block;
      }
      &.off {
        display: none;
      }
    }
    width: 48px;
    height: 48px;
    border-radius: 48px;
    box-shadow: 2px 2px 24px #444;
    display: block;
    transform: translateX(calc(-6vw - 96px));
    transition: all .1s;
    transition-timing-function: ease-in-out;
    &:hover {
      box-shadow: 4px 4px 48px #666;
      cursor: pointer;
    }
  }

  .button + .button {
    margin-top: 1rem;
  }

  /* off icons are hidden when parent svg has class 'on' */

  &.active .button {
    transform: translateX(0);
  }

  .chat {
    &[data-blink="true"] {
      -webkit-animation: bg-blink 1s infinite;
      -moz-animation: bg-blink 1s infinite;
      animation: bg-blink 1s infinite;
    }
    &:hover, &.on {
      background: #407cf7;
    }
  }

  .mute-audio {
    &:hover, &.on {
      background: #407cf7;
    }
  }

  .send-file {
    &:hover {
      background: #407cf7;
    }
  }

  .mute-video {
    &:hover, &.on {
      background: #407cf7;
    }
  }

  .fullscreen {
    &:hover, &.on {
      background: #407cf7;
    }
  }

  .hangup {
    &:hover {
      background: #dd2c00;
    }
  }
}

@-webkit-keyframes bg_blink {
  50% {
    background-color: #407cf7;
  }

  99% {
    background-color: #407cf7;
  }
}

@-moz-keyframes bg-blink {
  50% {
    background-color: #407cf7;
  }

  99% {
    background-color: #407cf7;
  }
}

@keyframes bg-blink {
  50% {
    background-color: #407cf7;
  }

  99% {
    background-color: #407cf7;
  }
}
