$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-monospace: Menlo, Monaco, Consolas, "Ubuntu Mono", monospace;

$color-bg: #086788;
$color-fg: #07A0C3;
$color-btn: #FFF1D0;
$icon-size: 48px;

$color-primary: white;
$color-info: #31EF40;
$color-warning: #F0C808;
$color-error: #EE7600;
