.videos {
  position: fixed;
  height: 100px;
  bottom: 15px;
  right: 0px;
  text-align: right;

  $video-size: 100px;

  .video-container {
    background-color: black;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    width: $video-size;
    height: 100%;
    z-index: 2;

    video {
      border-radius: 10px;
      cursor: pointer;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .video-container.active {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    video {
      border-radius: 0;
      cursor: inherit;
    }
  }
}
