$video-size: 100px;
$shadow-size: 2px;

.videos {

  position: absolute;
  height: $video-size + $shadow-size;
  padding: $shadow-size 0;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: right;
  transition: right cubic-bezier(0.55, 0, 0, 1) 500ms;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 0;
}

.video-container {
  background-color: black;
  box-shadow: 0px 0px $shadow-size black;
  border-radius: 10px;
  display: inline-block;
  width: $video-size;
  height: 100%;
  z-index: 3;
  margin-right: 1rem;
  position: relative;

  .nickname {
    border: none;
    background: transparent;
    font-size: 0.8rem;
    padding: 2px 4px 2px 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    text-shadow: 0 0px 2px black;
    text-align: center;

    &:hover,
    &:focus {
      background-color: rgba(black, 0.5);
      border-radius: 0 0 10px 10px;
    }
  }

  video {
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .video-actions {
    display: none;
  }
}

.video-container.active {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: none;

  video {
    border-radius: 0;
    cursor: inherit;
    object-fit: contain;
  }

  .video-actions {
    display: inherit;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    font-family: monospace;
    user-select: none;

    .action:hover {
      cursor: pointer;
      color: white;
    }
  }
}

.video-container.mirrored video {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}
